[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
astropy = "*"
matplotlib = "*"
tqdm = "*"
pathos = "*"
ipython = "*"
reproject = "*"
h5py = "*"
sep = "*"
regions = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
